* {
  margin: 0;
}
  
body {
  background: #212121;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  min-height: 100vh;
}

@media (max-device-width: 950px) and (min-device-height: 500px) {
  body {
    flex-direction: column;
  }
}

#controls {
  width: 20vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #F6F6F6;
}
h1 {
  font-size: 5vh;
  text-align: center;
  text-shadow: 1vh 1vh 2vh black;
  margin-bottom: 2vh;
}

button {
  font-size: 3vh;
  margin-top: 4vh;
  width: 20vh;
  border: none;
  border-radius: 2rem;
  box-shadow: 1vh 1vh 2vh black;
  background: #F6F6F6;
  padding: 1vh;
  transition: 1s;
}

button:hover {
  transform: scale(1.1);
  box-shadow: 1rem 1rem 2rem black;
  background: black;
  color: #F6F6F6;
  border: .15rem solid #F6F6F6;
}

#downloadBtns {
  display: flex;
}

#download5, #downloadMany {
  width: 6vh;
  margin-left: 3vh;
}

#capture {
  border: 0px solid black;
  width: 624px;
  height: 624px;
  position: relative;
  margin: 5vh 0 5vh 0;
  transition: 2s;
}

#capture:hover {
  border: 5px solid white;
  transform: scale(1.2);
  box-shadow: 2rem 2rem 3rem black;
}

#marker {
  height: 0px;
  width: 0px;
  margin: 0;
  padding: 0;
}

.layer {
  width: 624px;
  height: 624px;
  position: absolute;
}

@media (max-device-width: 650px), (max-device-height: 720px) {
  #capture {
    width: 416px;
    height: 416px;
  }
  .layer {
    width: 416px;
    height: 416px;
  }
}